body {
    margin: 0;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 69px;
    width: 100vw;
    background-color: black;
    text-align: center;
    user-select: none;
}

.topbar .logoimage {
    /*position: absolute;
    top: 0;
    left: 0;*/
    display: inline-block;
    vertical-align: middle;
}

.topbar i {
    font-style: normal;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 69px;
    display: inline-block;
    line-height: 69px;
}

.topbar i:hover {
    color: darkgrey;
}

.topbar .dropdown {
    position: relative;
    display: inline-block;
}

.topbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 999;
    min-width: 222px;
    top: 69px;
}

.topbar .dropdown-content a {
    font-style: normal;
    color: white;
    display: block;
    padding: 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.topbar .dropdown-content a:hover {
    color: darkgrey;
}

.topbar .dropdown:hover .dropdown-content {
    display: block;
}

#bannerimg {
    width: 100%;
    user-select: none;
}