@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 69px;
    width: 100vw;
    background-color: black;
    text-align: center;
    user-select: none;
}

.topbar .logoimage {
    /*position: absolute;
    top: 0;
    left: 0;*/
    display: inline-block;
    vertical-align: middle;
}

.topbar i {
    font-style: normal;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Exo 2", sans-serif;
    font-weight: bolder;
    height: 69px;
    display: inline-block;
    line-height: 69px;
}

.topbar i:hover {
    color: darkgrey;
}

.topbar .dropdown {
    position: relative;
    display: inline-block;
}

.topbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 999;
    min-width: 222px;
    top: 69px;
}

.topbar .dropdown-content a {
    font-style: normal;
    color: white;
    display: block;
    padding: 10px 10px;
    font-family: "Exo 2", sans-serif;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.topbar .dropdown-content a:hover {
    color: darkgrey;
}

.topbar .dropdown:hover .dropdown-content {
    display: block;
}

.frontpagesection {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 69px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    font-variant: small-caps;
}

.centeredbox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a {
    color: deepskyblue;
}

a:hover {
    color: dodgerblue;
}

.learnmorebutton {
    font-size: 16px;
    background-color: white;
    border: 0;
    color: black;
    padding: 6.9px 16px;
    text-transform: uppercase;
    transition: 1s;
    border-radius: 5px;
    font-family: "Exo 2", Arial, sans-serif;
}

.learnmorebutton:hover {
    background-color: black;
    color: white;
}

.shortbanner {
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-attachment: fixed;
}

.infosection {
    width: 100vw;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    box-sizing: border-box;
    color: #CCCCCC!important;
    background-color: #222222;
}

.infosection:nth-of-type(odd) {
    background: #191919;
}  

#contactform {
    font-size: 24px;
}

#contactform textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111111;
    color: grey;
    border: 1px solid grey;
    transition: 0.69s;
}

#contactform input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111111;
    color: grey;
    border: 1px solid grey;
    transition: 0.69s;
}

#contactform input:focus, #contactform textarea:focus {
    outline: none!important;
    color: white;
    border: 1px solid white;
    background-color: #080808;
}

.bottombar {
    background-color: black;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.bottombar a {
    color: white;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.bottombar a::before, .bottombar a::after {
    content: '    ';
    white-space: pre;
}

.bottombar a:hover {
    color: darkgrey;
}

.socialicons {
    white-space: nowrap;
}

.socialicons img {
    width: 34px;
    height: 34px;
    padding: 8px;
    border-radius: 16px;
    transition: filter 0.69s;
}

.socialicons img:hover {
    filter: brightness(0.69);
}

hr {
    background-color: grey;
    border: 1px solid grey;
    opacity: 0.1;
    width: 88%;
}

.videoCard {
    width: 345px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.42);
    transition: box-shadow 0.3s;
    background-color: #222222;
    text-decoration: none;
    user-select: none;
    margin: 10px;
}

.videoCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.42);
}

.videoCard img {
    width: 345px;
    height: 180px;
    display: block;
}

.videoCard div {
    padding: 10px;
    font-size: 18px;
    color: darkgrey;
}

.searchbar {
    outline: none!important;
    width: 88%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid grey;
    transition: border-bottom 0.69s;
    margin-bottom: 10px;
}

.searchbar:focus {
    border-bottom: 1px solid white;
}